{#
/**
 * @file test_run.html.twig
 * Default theme implementation to present Test run data.
 *
 * This template is used when viewing Test run pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_test_run()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('test_run') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
