{#
/**
 * @file test_step.html.twig
 * Default theme implementation to present Test step data.
 *
 * This template is used when viewing Test step pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_test_step()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('test_step') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
