{#
/**
 * @file time_box.html.twig
 * Default theme implementation to present Time box data.
 *
 * This template is used when viewing Time box pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_time_box()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('time_box') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
